VITE_API_BASE_URL=http://localhost:8080
VITE_KEYCLOAK_AUTH_URL=http://localhost:8181/realms/fitness-oauth2/protocol/openid-connect/auth
VITE_KEYCLOAK_TOKEN_URL=http://localhost:8181/realms/fitness-oauth2/protocol/openid-connect/token
VITE_KEYCLOAK_LOGOUT_URL=http://localhost:8181/realms/fitness-oauth2/protocol/openid-connect/logout
VITE_KEYCLOAK_CLIENT_ID=oauth2-pkce-client
VITE_KEYCLOAK_REDIRECT_URI=http://localhost:5173/auth
VITE_ENABLE_MOCK_FALLBACK=true
